script(src="/classes/mainClasses.js")
script(src="/classes/zones.js")
script(src="/classes/vehicles.js")
script(src="/classes/sheeps.js")
script(src="/classes/inanimateObjects.js")
script(src="/classes/tiles.js")