extends menu_skeleton

block menu-content
	+menu-button('Play Online', 'online-btn')
	+menu-button('Play Offline', 'offline-btn')
	+menu-button('Manage Maps', 'manage-maps-btn')
	+menu-button('About', 'about-btn')