extends wide_layout

mixin map-button(id, name, imgSrc)
  figure.figure.map-creator-btn
    img.figure-img.img-thumbnail.rounded(id=id src=imgSrc)
    figcaption.figure-caption.text-center= name

block content
  h3 Map creator! 
    small.font-weight-light Let's get the rush started!
  br

  div#map

  br

  div#map-buttons
    +map-button('road-btn', 'Road', '/assets/road.png')
    +map-button('grass-btn', 'Meadow', '/assets/grass.png')
    +map-button('bush-btn', 'Bush', '/assets/bush.png')
    +map-button('rock-btn', 'Rock', '/assets/rock.png')
    +map-button('powerup-btn', 'Car', '/assets/powerup.png')
    +map-button('car-btn', 'Car', '/assets/car.png')
    +map-button('config-map-btn','Configure map', '/assets/gear.png')


block scripts
  script(src='/js/pixi.min.js')
  include classes_scripts
  script(src='/js/map_creator.js')