extends layout

block content

	div.container
		h3.font-weight-light
			| Welcome 
			span.font-weight-normal #{username}
			|, are you ready?
		br
		div#menu-content
			include main_menu

		br
		div.row.justify-content-between
			div.col-2
				form(method='GET' action='/menu')
					button.btn.btn-sm.btn-outline-dark(type='submit') Go back
			div.col-2
				form(method='POST' action='/logout')
					button.btn.btn-sm.btn-outline-dark(type='submit') Log out

block scripts
	script(src="/js/menuPresenter.js")