extends layout

block content

	div.container
		h2 Game Menu
		br
		button.btn.btn-lg.btn-outline-primary.btn-block Play Online
		button.btn.btn-lg.btn-outline-primary.btn-block Play Offline
		button.btn.btn-lg.btn-outline-primary.btn-block Manage maps
		button.btn.btn-lg.btn-outline-primary.btn-block About
