#map {
	height: 45%;
}

.jumbotron {
	padding: 4rem 8rem;
}

.hidden {
	display: none;
}

.wide-container {
	max-width: 80%;
}

.map-creator-btn {
	width: 10%;
	min-width: 100px;
	height: width;
	margin-right: 2em;
}

.map-creator-btn:hover img {
	background-color: #BBCCFF;
}

footer {
	color: white;
}

body {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        rgba(0,0,0,0.35) 
        url("/assets/sheeps.jpg");
	background-size: cover;
}